<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- Nav Bar -->

 <div class="row">
   <div class="large-12 columns">
     <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="/csv_files/new" class="button">Test A File</a></li>

       </ul>
     </div>
     <h1><%= link_to "CSV Validator", '/' %> <small>One purpose.</small></h1>
     <hr />
   </div>
 </div>

 <!-- End Nav -->


 <!-- Main Page Content and Sidebar -->

 <div class="row">

   <!-- Main Blog Content -->
   <div class="large-9 columns" role="content">



     <article>
       <%= yield %>


     </article>

   </div>

   <!-- End Main Content -->



 </div>

 <!-- End Main Content and Sidebar -->


 <!-- Footer -->

 <footer class="row">
   <div class="large-12 columns">
     <hr />
     <div class="row">
       <div class="large-6 columns">
         <p>© Copyright no one at all. Go to town.</p>
       </div>
       <div class="large-6 columns">

       </div>
     </div>
   </div>
 </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>